{% extends 'blog/base.html' %}
{% load static from staticfiles %}

<!-- @import url('https://fonts.googleapis.com/css?family=Lobster'); -->
{% block content %}

 <div class="container-fluid p-0">

   
     
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="">
        <div class="my-auto">
         <!--  <h2 class="mb-5">3D PRINTABLE FILES & 3D MODELS</h2> -->
           <h2 class="mb-5">portfolio</h2>
               <p class="text-primary">3D PRINTABLE FILES , 3D MODELS & 3D PROTOTYPE</p>
               

                <hr class="m-0">
        </div>
    
         <div class="my-auto">
          <div class="resume-item d-flex flex-column flex-md-row mb-4">

            <div class="resume-content mr-auto col-6">
              <h3 class="mb-0"></h3>
              <div class="subheading mb-3"></div>
               <img src="{% static 'img/pro3.png' %}" alt="" class="pt-3" />
                  <h3 class="mb-0">University of Colorado Boulder</h3>
              <div>Computer Science - Web Development Track</div>
              <p>GPA: 3.23</p>
            </div>
             <div class="resume-content mr-auto col-6">
              <h3 class="mb-0"></h3>
              <div class="subheading mb-3"></div>
               <img src="{% static 'img/pro4.png' %}" alt="" class="pt-3" />
                  <h3 class="mb-0">University of Colorado Boulder</h3>
              <div>Computer Science - Web Development Track</div>
              <p>GPA: 3.23</p>
            </div>
            
            <!-- <div class="resume-date text-md-right">
              <span class="text-primary">August 2006 - May 2010</span>
            </div> -->
          </div>
           <div class="resume-item d-flex flex-column flex-md-row mb-4">
            <div class="resume-content mr-auto col-6">
              <h3 class="mb-0"></h3>
              <div class="subheading mb-3"></div>
             <img src="{% static 'img/pro3.png' %}" alt="" />
                <h3 class="mb-0">University of Colorado Boulder</h3>
              <div>Computer Science - Web Development Track</div>
              <p>GPA: 3.23</p>
            </div>
             <div class="resume-content mr-auto col-6">
              <h3 class="mb-0"></h3>
              <div class="subheading mb-3"></div>
               <img src="{% static 'img/pro4.png' %}" alt="" />
                  <h3 class="mb-0">University of Colorado Boulder</h3>
              <div>Computer Science - Web Development Track</div>
              <p>GPA: 3.23</p>
            </div>
            
            <!-- <div class="resume-date text-md-right">
              <span class="text-primary">August 2006 - May 2010</span>
            </div> -->
          </div>
           <div class="resume-item d-flex flex-column flex-md-row mb-4">
            <div class="resume-content mr-auto col-6">
              <h3 class="mb-0"></h3>
              <div class="subheading mb-3"></div>
               <img src="{% static 'img/pro3.png' %}" alt="" />
                  <h3 class="mb-0">University of Colorado Boulder</h3>
              <div>Computer Science - Web Development Track</div>
              <p>GPA: 3.23</p>
            </div>
             <div class="resume-content mr-auto col-6">
              <h3 class="mb-0"></h3>
              <div class="subheading mb-3"></div>
               <img src="{% static 'img/pro4.png' %}" alt="" />
                  <h3 class="mb-0">University of Colorado Boulder</h3>
              <div>Computer Science - Web Development Track</div>
              <p>GPA: 3.23</p>
            </div>
            
            <!-- <div class="resume-date text-md-right">
              <span class="text-primary">August 2006 - May 2010</span>
            </div> -->
          </div>
 
        
       
        

        </div>
      </section>
    </div>

  
  



 {% endblock  %} 

