{% extends 'blog/base.html' %}
{% load static from staticfiles %}

<!-- @import url('https://fonts.googleapis.com/css?family=Lobster'); -->
{% block content %}


<div class="container-fluid p-0">
    <hr class="m-0">

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">EDIT</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5 col-8">
            <div class="resume-content mr-auto">
             
             
            
          
             

               <!-- <form id="post_form" method="post" action="" style="margin: 0 20% 0 20%;padding: 10px;" enctype="multipart/form-data">
   
      {% csrf_token %}
      {{ form.as_p }}
      <ul  class="imgli"><li>{{ formset.as_table }}</li></ul>
   
    <br><br>
          <input type="submit" name="submit" value="Submit" />
              </form> -->
              <form method="POST" action="">
    {% csrf_token %}
    {{ form.media }}
    {{ form }}
    <input type="submit" value="Save">
</form>
               
            </div>
          
          </div>

 

        </div>
      </section>
  </div>
	
{% endblock %}