{% extends 'blog/base.html' %}
{% load static from staticfiles %}

<!-- @import url('https://fonts.googleapis.com/css?family=Lobster'); -->
{% block content %}
<header class="masthead">
      <div class="container h-100">
        <div class="row h-100">
             
          <div class="col-lg-7 my-auto">
              
               {{ post.content2|safe }}
          
             
          </div>
          <div class="col-lg-5 my-auto">
            <div class="device-container">
                      {{ post.title }}
                      {{ post.content|safe }}
                 
               
                </div>
              </div>
           
            </div>
          </div>
      
    </header>


            

{% endblock  %}



