 {% extends 'blog/base.html' %}
 {% load static from staticfiles %}

{% block extra_head %}
 <style>
 

#headerwrap {
color: #E04006;
text-shadow:1px 1px 1px #343434;
/*background: #2E3639;*/
background: #fff;
padding: 0;
margin:0;
margin-top:20px;
font-family:tahoma, arial, sans-serif;
height: 70px;
text-align:center;
line-height:70px
}

#headerwrap a{
  color: #FFF;
}
.vertical{
padding-top:;
}

.santa {
background: url(http://myskins.org/images/santas.gif) no-repeat right;
background-size: 240px;
background-position-y: 30px;
padding-top: 0px;
height: 145px;
right: 0;
text-align: right;
}

.tree {
background: url(http://myskins.org/images/ctree.png)bottom center;
padding: 0;
height: 145px;
-moz-animation: bgscroll 370s infinite linear;
-ms-animation: bgscroll 370s infinite linear;
-o-animation: bgscroll 370s infinite linear;
-webkit-animation: bgscroll 370s infinite linear;
}

.topwrap1 {
color: #777;
background: #FFF url(http://myskins.org/images/Mountain.png) top center repeat-x;
padding: 0;
margin: 0;
height: 165px;

border-bottom: 0 solid #333;
margin: auto auto;
vertical-align: middle;
box-shadow: 0 0 1px rgba(255, 255, 255, 0.4) inset,0 0 5px rgba(0, 0, 0, 0.5);
}


.topwrap1 {
-moz-animation: bgscroll 750s infinite linear;
-ms-animation: bgscroll 750s infinite linear;
-o-animation: bgscroll 750s infinite linear;
-webkit-animation: bgscroll 750s infinite linear;
}
/* BEGIN ANIMATIONS */

@-webkit-keyframes bgscroll {
  from {background-position: 0 0;}
  to {background-position: -9999px 0;}
}

@-moz-keyframes bgscroll {
  from {background-position: 0 0;}
  to {background-position: -9999px 0;}
}

@-ms-keyframes bgscroll {
  from {background-position: 0 0;}
  to {background-position: -9999px 0;}
}

@-o-keyframes bgscroll {
  from {background-position: 0 0;}
  to {background-position: -9999px 0;}
}

@keyframes bgscroll {
  from {background-position: 0 0;}
  to {background-position: -9999px 0;}
}

.rotate{-webkit-transition-duration:.8s;
  -moz-transition-duration:.8s;
  -o-transition-duration:.8s;
  transition-duration:.8s;
  -webkit-transition-property:-webkit-transform;
  -moz-transition-property:-moz-transform;
  -o-transition-property:-o-transform;
  transition-property:transform;
  overflow:hidden;
}

.rotate:hover{
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg)
}


.wrap{
  width: 100%;
  min-width: 1150px;
  max-width: 1200px;
  margin:0 auto;
  text-align:left
}


 </style>
 <script>
  jQuery(function($) {
$().jSnow();
});
 </script>
 {% endblock %}

{% block content %}

<!-- <section class="blog-list px-3 py-5 p-md-5" id=""> -->
  <section class="blog-list px-3 py-1 " id="">
  <div class="containe-fluid">
    <div class="row">
      
         <div class="col-md-7 p-0 p-md-3">
            {% for post in post_list %}
                 {{ post.content2|safe }}
             {% endfor %}
             


         </div>
       
        
          

          <div class="col-md-5 p-0 p-md-3">
            <blockquote class="blockquote text-center">
  <h4 class="mb-0">
  </h4>
 
</blockquote>
           {% for post in post_list %}
           
           <div class="media border-0 p-3">
             {% if post.photo %}
    <img class="align-self-center mr-3" src="{{ post.photo.url }}" style="width:150px;height: 112px;" alt="">
     {% endif %}
    <div class="media-body align-self-center">
      <h4 class="mt-0"><a  href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a> </h4>
      <p><a class="more-link" href="{% url 'post_detail' pk=post.pk %}" >Read more &rarr</a></p>      
    </div>
  </div>

            
          {% endfor %}      
          </div>
         
    </div><!--//row-->
  </div><!--//container-->
  <div id="headerwrap">
  <h1 class="vertical"> 한여름의  크리스마스 
           </h1>
</div>

<div class="topwrap1">
  <div class="tree">
    <div class="wrap">
     <!--  <div class="logo">
        <a href="http://myskins.org/index.php">
          <img src="http://myskins.org/images/myskins/logo3.png" alt="{$mybb->settings['bbname']}" title="MySkins Studio" class="rotate"/></a></div> -->
      <div class="santa"></div>
    </div></div>
</div><!--//topwrap1-->

 
</section>



{% endblock  %}
 
 

 
     
   
 



   
	






 
 
          